mixin icon(name,width)
    if !width
        span(class="icon svg-image-" + name)
    else
        span(class="icon svg-image-" + name style="width:" + width + "px")


mixin use(name,width,height)
    svg(width=width height=height viewBox="0 0 "+ width +" "+ height).icon
        use(xlink:href="images/sprites/main.stack.svg#image-" + name)


mixin picture(name,ext,x2)
    if !x2
        picture.picture.object-fit-cover
            source.object-fit-cover(srcset="images/" + name + ".webp" type="image/webp")
            img.picture__img.object-fit-cover(src="images/" + name + "." + ext alt="")
    else
        picture.picture.object-fit-cover
            source.object-fit-cover(srcset="images/" + name + ".webp, images/" + name + "@2x.webp 2x" type="image/webp")
            img.picture__img.object-fit-cover(src="images/" + name + "." + ext srcset="images/" + name + "." + ext + ", images/" + name + "@2x." + ext + " 2x" alt="")


mixin breadcrumbs(arr,cur)
    .b-breadcrumbs
        .container
            each v in arr
                a(href="#").b-breadcrumbs__link=v
            if cur!=''
                span.b-breadcrumbs__text=cur



mixin pagination(amount, current, ellipsis, last, arrows)
    .pagination
        if (arrows === true)
            a(href="#").pagination__prev: span

        ul.pagination__list
            - for (var index = 1; index <= amount; index++)
                if (index === current)
                    li.pagination__item.current
                        span= index
                else if (index === ellipsis)
                    li.pagination__item
                        a(href="#").is-collapsed ...
                else
                    li.pagination__item
                        a(href="#")= index

            - for (var index = last; index <= last; index++)
                li.pagination__item
                    a(href="#")= index

        if (arrows === true)
            a(href="#").pagination__next: span



mixin introPrev()
    svg(width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(fill-rule="evenodd" clip-rule="evenodd" d="M10 17.75L10 15.25L7.5 15.25L7.5 12.75L5 12.75L5 10.25L2.5 10.25L2.5 7.75L5 7.75L5 5.25L7.5 5.25L7.5 2.75L10 2.75L10 0.25L7.5 0.25L7.5 2.75L5 2.75L5 5.25L2.5 5.25L2.5 7.75L-3.27835e-07 7.75L-4.37114e-07 10.25L2.5 10.25L2.5 12.75L5 12.75L5 15.25L7.5 15.25L7.5 17.75L10 17.75Z" fill="white")

mixin introNext()
    svg(width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(fill-rule="evenodd" clip-rule="evenodd" d="M2.25703e-06 0.249999L1.9346e-06 2.75L2.5 2.75L2.5 0.25L2.25703e-06 0.249999ZM4.76837e-07 17.75L7.9927e-07 15.25L2.5 15.25L2.5 17.75L4.76837e-07 17.75ZM2.5 15.25L2.5 12.75L5 12.75L5 15.25L2.5 15.25ZM7.5 10.25L7.5 12.75L5 12.75L5 10.25L7.5 10.25ZM7.5 7.75L10 7.75L10 10.25L7.5 10.25L7.5 7.75ZM5 5.25L5 7.75L7.5 7.75L7.5 5.25L5 5.25ZM5 5.25L2.5 5.25L2.5 2.75L5 2.75L5 5.25Z" fill="white")



mixin introCenter()
    svg(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M1.81389 14.1876L3.58165 12.4199L1.81388 10.6521L3.58165 8.88432L1.81388 7.11656L3.58165 5.34879L1.81389 3.58102L3.58165 1.81326L5.34942 3.58102L7.11719 1.81326L8.88495 3.58102L10.6527 1.81326L12.4205 3.58102L14.1883 1.81326L12.4205 0.04549L10.6527 1.81326L8.88495 0.0454889L7.11719 1.81326L5.34942 0.0454896L3.58165 1.81326L1.81389 0.04549L0.0461185 1.81326L1.81389 3.58102L0.0461178 5.34879L1.81388 7.11656L0.0461171 8.88432L1.81388 10.6521L0.0461181 12.4199L1.81389 14.1876Z" fill="white")
        path(d="M14.1883 1.81326L12.4205 3.58102L14.1883 5.34879L15.956 3.58102L14.1883 1.81326Z" fill="white")
        path(d="M1.81389 14.1876L3.58165 12.4199L5.34942 14.1876L3.58165 15.9554L1.81389 14.1876Z" fill="white")
        path(d="M5.34942 14.1876L7.11719 12.4199L8.88496 14.1876L7.11719 15.9554L5.34942 14.1876Z" fill="white")
        path(d="M12.4205 14.1876L10.6527 15.9554L8.88496 14.1876L10.6527 12.4199L12.4205 14.1876Z" fill="white")
        path(d="M14.1883 12.4199L15.956 14.1876L14.1883 15.9554L12.4205 14.1876L14.1883 12.4199Z" fill="white")
        path(d="M14.1883 8.88432L12.4205 10.6521L14.1883 12.4199L15.956 10.6521L14.1883 8.88432Z" fill="white")
        path(d="M14.1883 8.88432L12.4205 7.11656L14.1883 5.34879L15.956 7.11656L14.1883 8.88432Z" fill="white")
